<div style="text-align:center;background-color:#FFAC55;width:600px;height:100px;">
  <h1 [@animationState]="animate_State">
    Angular Animations
  </h1>
</div>
<hr>
<button (click)="changeState('bounce')">bounce</button>
<button (click)="changeState('flash')">flash</button>
<button (click)="changeState('pulse')">pulse</button>
<button (click)="changeState('rubberBand')">rubberBand</button>
<button (click)="changeState('shake')">shake</button>
<button (click)="changeState('headShake')">headShake</button>
<button (click)="changeState('swing')">swing</button>
<button (click)="changeState('tada')">tada</button>
<button (click)="changeState('wobble')">wobble</button>
<button (click)="changeState('jello')">jello</button>
<br>
<button (click)="changeState('bounceIn')">bounceIn</button>
<button (click)="changeState('bounceInDown')">bounceInDown</button>
<button (click)="changeState('bounceInLeft')">bounceInLeft</button>
<button (click)="changeState('bounceInRight')">bounceInRight</button>
<button (click)="changeState('bounceInUp')">bounceInUp</button>
<br>
<button (click)="changeState('bounceOut')">bounceOut</button>
<button (click)="changeState('bounceOutDown')">bounceOutDown</button>
<button (click)="changeState('bounceOutLeft')">bounceOutLeft</button>
<button (click)="changeState('bounceOutRight')">bounceOutRight</button>
<button (click)="changeState('bounceOutUp')">bounceOutUp</button>
<br>
<button (click)="changeState('fadeIn')">fadeIn</button>
<button (click)="changeState('fadeInDown')">fadeInDown</button>
<button (click)="changeState('fadeInLeft')">fadeInLeft</button>
<button (click)="changeState('fadeInRight')">fadeInRight</button>
<button (click)="changeState('fadeInUp')">fadeInUp</button>
<br>
<button (click)="changeState('fadeInDownBig')">fadeInDownBig</button>
<button (click)="changeState('fadeInLeftBig')">fadeInLeftBig</button>
<button (click)="changeState('fadeInRightBig')">fadeInRightBig</button>
<button (click)="changeState('fadeInUpBig')">fadeInUpBig</button>
<br>
<button (click)="changeState('fadeOut')">fadeOut</button>
<button (click)="changeState('fadeOutDown')">fadeOutDown</button>
<button (click)="changeState('fadeOutLeft')">fadeOutLeft</button>
<button (click)="changeState('fadeOutRight')">fadeOutRight</button>
<button (click)="changeState('fadeOutUp')">fadeOutUp</button>
<br>
<button (click)="changeState('fadeOutDownBig')">fadeOutDownBig</button>
<button (click)="changeState('fadeOutLeftBig')">fadeOutLeftBig</button>
<button (click)="changeState('fadeOutRightBig')">fadeOutRightBig</button>
<button (click)="changeState('fadeOutUpBig')">fadeOutUpBig</button>
<br>
<button (click)="changeState('flip')">flip</button>
<button (click)="changeState('flipInX')">flipInX</button>
<button (click)="changeState('flipInY')">flipInY</button>
<button (click)="changeState('flipOutX')">flipOutX</button>
<button (click)="changeState('flipOutY')">flipOutY</button>
<br>
<button (click)="changeState('lightSpeedIn')">lightSpeedIn</button>
<button (click)="changeState('lightSpeedOut')">lightSpeedOut</button>
<button (click)="changeState('rotateIn')">rotateIn</button>
<button (click)="changeState('rotateInDownLeft')">rotateInDownLeft</button>
<button (click)="changeState('rotateInDownRight')">rotateInDownRight</button>
<button (click)="changeState('rotateInUpLeft')">rotateInUpLeft</button>
<button (click)="changeState('rotateInUpRight')">rotateInUpRight</button>
<br>
<button (click)="changeState('rotateOut')">rotateOut</button>
<button (click)="changeState('rotateOutDownLeft')">rotateOutDownLeft</button>
<button (click)="changeState('rotateOutDownRight')">rotateOutDownRight</button>
<button (click)="changeState('rotateOutUpLeft')">rotateOutUpLeft</button>
<button (click)="changeState('rotateOutUpRight')">rotateOutUpRight</button>
<br>
<button (click)="changeState('hinge')">hinge</button>
<button (click)="changeState('jackInTheBox')">jackInTheBox</button>
<button (click)="changeState('rollIn')">rollIn</button>
<button (click)="changeState('rollOut')">rollOut</button>
<br>
<button (click)="changeState('zoomIn')">zoomIn</button>
<button (click)="changeState('zoomInDown')">zoomInDown</button>
<button (click)="changeState('zoomInLeft')">zoomInLeft</button>
<button (click)="changeState('zoomInRight')">zoomInRight</button>
<button (click)="changeState('zoomInUp')">zoomInUp</button>
<br>
<button (click)="changeState('zoomOut')">zoomOut</button>
<button (click)="changeState('zoomOutDown')">zoomOutDown</button>
<button (click)="changeState('zoomOutLeft')">zoomOutLeft</button>
<button (click)="changeState('zoomOutRight')">zoomOutRight</button>
<button (click)="changeState('zoomOutUp')">zoomOutUp</button>
<br>
<button (click)="changeState('slideInDown')">slideInDown</button>
<button (click)="changeState('slideInLeft')">slideInLeft</button>
<button (click)="changeState('slideInRight')">slideInRight</button>
<button (click)="changeState('slideInUp')">slideInUp</button>
<br>
<button (click)="changeState('slideOutDown')">slideOutDown</button>
<button (click)="changeState('slideOutLeft')">slideOutLeft</button>
<button (click)="changeState('slideOutRight')">slideOutRight</button>
<button (click)="changeState('slideOutUp')">slideOutUp</button>
